<% layout('layout/boilerplate') %>

<h2 class="text-center my-4">Search Results for "<%= category %>"</h2>

<% if (listings.length === 0) { %>
  <div class="text-center">
    <h4>There is no Results for "<%= category %>"</h4>
  </div>
<% } else { %>
  <div class="row" id="cards">
    <% for(let listing of listings) { %>
      <a href="/listing/<%= listing._id %>" class="listing-link">
        <div class="card m-3" style="width: 24rem; height: 29rem;">
          <img src="<%= listing.image.url %>" class="card-img-top" style="height: 18rem;" />
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b><br/>
              <i style="font-size: 0.85rem;"><%= listing.description %></i><br/>
              <b>&#8377;<%= listing.price ? listing.price.toLocaleString('en-IN') : 'N/A' %></b>/night
              <i class="tax">+18% GST</i>
            </p>
          </div>
        </div>
      </a>
    <% } %>
  </div>
<% } %>